@media only screen and (min-width: 64em ) {


    
    @media only screen and (min-width: 64em ) {
      
    header h1 {
        font-size: 5rem;
    }
    header .subheading {
        font-size: 16px;
    }   
    nav button {
    display:none;
} 
    ol li {
        display:block;
}
    .gallery ol {
    display:grid;
    grid-template-columns:auto auto auto;
    background-color:whitesmoke;
    
    
}
    .gallery ol li img:hover, figcaption:hover{
        box-shadow: 5px 5px 10px;
}
    .gallery ol li figcaption {
        padding-top: 7px;
    }
    .gallery img{
        width:100%;
    }

}