@media only screen and (min-width: 37.5em ) {
    
body {
    background-color: green;
}   

    header h1 {
    text-align: center;
    font-size: 5rem;
    padding:0;
    margin:0;
 
}
    header p {
        font-size: 16px;
    }

h1::first-letter {
   font-size: 150%;
    vertical-align:middle;
    
}

header .subheading {
    text-align: center;
    margin-left: 120px;
    margin-top: -45px;
    padding:0;
    color: aliceblue;
    
}
    nav {
        background-color: #ccc;
        }
    
    nav button{
        display:none;   
    }
   
    nav ul {
        margin-left: 2%;
        list-style-type: none;
        margin:0;
        padding:0;
    }
    nav ul li a {

    border-right: 1px solid rgba(0,0,0,.3);
        border-right-color: black;
        padding-right: 2%;
        margin: 1px 4px 1px 4px;
}
    nav ul.hides {
        display:block;
        
    }
    #menu {
        float:left;
    }
nav li{
    float:left;
   }
    nav ul li a {
        border:none;
        border-right: 1px solid rgba (0,0,0,0.3);
        padding: .5rem;
    }

    section.forecast {
        display:block;
    }
    .forecast h3 {
        margin-bottom: 0;
    }
    .forecast h3, .forecast table {
        table-layout: auto;
        border-spacing: .5rem;
        border-collapse: collapse;
        width:100%;
        text-align: center;
        background-color: #ccc;
        
        
    }
    .forecast h3, .forecast table, th, td {
        border:1px solid black;
        border-collapse: collapse;
    }
    main figure.franklin {
        width:50%;
        float:left;
        overflow:hidden;
    }
    .forecast h3 {
        clear:left;
        text-align: center;
    }
    article {
        overflow: hidden;   
    }
    .conditions {
        float:right;
        clear:none;
        text-align: right;
    }
    img[src="images/dusk.jpg"] {
        float:right;
        width:50%;
        
    }
    .town-article {
        float:left;
        width:50%;
    }
    footer{
        clear:right;
    }
}